.clebycleo__main {
    display: flex;
    justify-content: center;

    .clebycleo__images {
        @include AlbumImages(3,7);
        grid-template-areas:
            "clel clel clel"
            "clel clel clel"
            "clel clel clel"
            "cle1 cle1 cle2"
            "cle1 cle1 cle3"
            "cle4 cle5 cle5"
            "cle6 cle5 cle5"
        ;
        
        .clebycleo__logo {
            grid-area: clel;   
        }
            
        .clebycleo__1 {
            grid-area: cle1;
        }
            
        .clebycleo__2 {
            grid-area: cle2;
        }
            
        .clebycleo__3 {
            grid-area: cle3;
        }
            
        .clebycleo__4 {
            grid-area: cle4;
        }
            
        .clebycleo__5 {
            grid-area: cle5;
        }
            
        .clebycleo__6 {
            grid-area: cle6;
        }         
    }
}

.clebycleo__imagen {
    width: 100%;
    height: 100%;
}