.malma__main {
    display: flex;
    justify-content: center;

    .malma__images {
        @extend .AlbumImages;
        grid-template-columns: repeat(3, fr);
        grid-template-rows: repeat(7, fr);
        grid-template-areas:
            "malmal malmal malmal"
            "malmal malmal malmal"
            "malmal malmal malmal"
            "malma1 malma1 malma2"
            "malma1 malma1 malma3"
            "malma4 malma5 malma5"
            "malma6 malma5 malma5"
        ; 
    
        .malma__logo {
            grid-area: malmal;   
        }
        
        .malma__1 {
            grid-area: malma1;
        }
        
        .malma__2 {
            grid-area: malma2;
        }
        
        .malma__3 {
            grid-area: malma3;
        }
        
        .malma__4 {
            grid-area: malma4;
        }
        
        .malma__5 {
            grid-area: malma5;
        }
        
        .malma__6 {
            grid-area: malma6;
        }
    }
}

.malma__imagen {
    width: 100%;
    height: 100%;
}