.mart__main {
    display: flex;
    justify-content: center;

    .mart__images {
        @include AlbumImages(2,4);
        grid-template-areas:
            "martl martl"
            "martl martl"
            "mart1 mart2"
            "mart3 mart4"
        ; 
        
        .mart__logo {
            grid-area: martl;   
        }
        
        .mart__1 {
            grid-area: mart1;
        }
        
        .mart__2 {
            grid-area: mart2;
        }
        
        .mart__3 {
            grid-area: mart3;
        }
        
        .marta__4 {
            grid-area: mart4;
        }
    }
}

.mart__imagen {
    width: 100%;
    height: 100%;
}