@media screen and (min-width: 1025px) and (max-width: 1440px) {

    .index {

        .main__index__1 {
            
            .presentacion__index {
                margin-top: 2rem;
                padding-top: 4rem;
                padding-bottom: 4rem;
            }

            .parrafo__index {
                font-size: 20px;
            }
        }
        .main__index__2 {
            padding-top: 40px;
    
            .disigns__index {
                transform: scale(0.75);
            }
    
            .presentacion__index__2 {
                margin-top: 0px;
            }
        }
    }

    .paquetes__main {

        .presentacion__paquetes {
            padding-top: 0rem;
        }

        .paquetes {

            .paquetes__redes {

                .redes__image__paquetes {
                    transform: scale(0.73);
                }
            }

            .paquetes__logos {

                .paquetes__logos__image {
                    transform: scale(0.73);
                }
            }
        }
    }

    .main__album {
        
        .presentacion__album {
            padding-top: 1rem;
        }

        .album {
            column-gap: 2rem; 
            margin-right: 2rem; 
            margin-left: 2rem;

            .album__1 {
                
                .album__photo {
                    margin: 0px;
                    max-width: 100%;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    padding-top: 3rem;
            
                    .img__album {
                        margin: 0px;
                        width: 100%;
                        height: 50%;
                    }
                }

            }

            .album__2 {

                .album__photo {
                    margin: 0px;
                    max-width: 100%;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    padding-top: 3rem;
            
                    .img__album {
                        margin: 0px;
                        width: 100%;
                        height: 50%;
                    }
                }
            }
        }
    }

    .amaru__main {

        .amaru__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }

    .clebycleo__main {

        .clebycleo__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }

    .hera__main {
        
        .hera__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .sala__main {
        
        .sala__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .lolita__main {

        .lolita__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .maillot__main {
        
        .maillot__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .malma__main {
        
        .malma__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .mart__main {
        
        .mart__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .vida__main {

        .vida__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }

    .SobreNosotros {

        .presentacion__SobreNosotros {
            padding-top: 2rem;
        }

        .ludesigns__SobreNosotros {
            padding-left: 4rem;
            padding-right: 4rem;
        }

        .lu__SobreNosotros {
            margin-left: 2rem;
            margin-right: 2rem;

            .lu__image__SobreNosotros {
                padding-right: 0px;
            }

            .lu__text__SobreNosotros {
                padding-left: 3rem;
                padding-right: 3rem; 
            }
        }
    }

    .contacto {

        .presentacion__contact {
            padding-top: 4rem;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .index {

        .main__index__1 {
            
            .presentacion__index {
                margin-top: 2rem;
                padding-top: 4rem;
                padding-bottom: 4rem;
            }

            .titulo__index {
                font-size: 70px;
            }

            .parrafo__index {
                font-size: 20px;
            }
        }
        .main__index__2 {
            padding-top: 100px;
    
            .disigns__index {
                max-width: 100%;
                padding-left: 2rem;
                padding-right: 2rem;
    
                .image__left__index {
                    width: 30%;
                    height: 12.5%;
                    margin-right: 20px;
                }
    
                .image__center__index {
                    width: 40%;
                    height: 20%;
                }
    
                .image__right__index {
                    width: 30%;
                    height: 12.5%;
                    margin-left: 20px;
                }
            }
    
            .presentacion__index__2 {
                padding-bottom: 1rem;
            }
        }
    }

    .paquetes__main {

        .presentacion__paquetes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 0px;
            background-position: center;
            padding-top: 0rem;

            .presentacion__paquetes__titulo {
                font-size: 70px;
            }
            .presentacion__paquetes__text {
                font-size: 20px;
                text-align: center;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }

        .paquetes {

            .paquetes__redes {
                display: flex;
                flex-direction: column;
                margin-top: 0px;

                .redes__image__paquetes {
                    width: 100%;
                    height: 100%;
                    padding: 0px;
                    margin-bottom: 3rem;
                    
                }
            }

            .paquetes__logos {
                display: flex;
                flex-direction: column;
                margin-top: 0px;
                flex-flow: column-reverse;

                .paquetes__logos__image {
                    width: 100%;
                    height: 100%;
                    padding: 0px;
                    margin-bottom: 3rem;
                    
                }
            }
        }
    }

    .main__album {

        .presentacion__album {
            padding-top: 1rem;
        }

        .album {
            column-gap: 2rem; 
            margin-right: 2rem; 
            margin-left: 2rem;

            .album__1 {
                
                .album__photo {
                    margin: 0px;
                    max-width: 100%;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    padding-top: 3rem;
            
                    .img__album {
                        margin: 0px;
                        width: 100%;
                        height: 50%;
                    }
                }
            }
            
            .album__2 {

                .album__photo {
                    margin: 0px;
                    max-width: 100%;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    padding-top: 3rem;
            
                    .img__album {
                        margin: 0px;
                        width: 100%;
                        height: 50%;
                    }
                }
            }
        }
    }

    .amaru__main {

        .amaru__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }

    .clebycleo__main {

        .clebycleo__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }

    .hera__main {
        
        .hera__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .sala__main {
        
        .sala__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .lolita__main {

        .lolita__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .maillot__main {
        
        .maillot__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .malma__main {
        
        .malma__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .mart__main {
        
        .mart__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .vida__main {
        
        .vida__images {
            width: 100%;
            height: 100%;
            padding: 50px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }

    .PaquetesLogo {

        .basico__paquete {

            .basico__paquete__galleria {
                width: 100%;
                height: 100%;
            }

            .basico__text__paquete {
                margin-left: 20px;
            }
        }

        .empresarial__paquete {

            .empresarial__text__paquete {
                margin-right: 20px;
            }
        }

        .intermedio__paquete {

            .intermedio__text__paquete {
                margin-left: 20px;
            }
        }

        .premium__paquete {

            .premium__text__paquete {
                margin-right: 20px;
            }
        }
    }

    .SobreNosotros {

        .presentacion__SobreNosotros {
            padding-top: 2rem;
        }

        .ludesigns__SobreNosotros {
            padding-left: 4rem;
            padding-right: 4rem;
        }    

        .lu__SobreNosotros {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 4rem;
            margin-right: 4rem;

            .lu__text__SobreNosotros {
                text-align: center;
                padding-top: 0rem;
                padding-left: 3rem;
                padding-right: 3rem; 
            }
        }

        .equipo {

            .equipo__img {
                padding: 2rem;
                max-width: 750px;
            }

            .equipo__text {
                padding-top: 0rem;
                padding-bottom: 2rem;
            }
        }
    }

    .contacto {

        .presentacion__contact {
            padding-top: 4rem;
        }
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {

    .index {

        .main__index__1 {

            .presentacion__index {
                margin-top: 0rem;
                padding-top: 4rem;
                padding-bottom: 3rem;
        
                .titulo__index {
                    font-size: 58px;
                    padding-left: 3rem;
                    padding-right: 3rem;
                    margin-left: 2rem;
                    margin-right: 2rem;
                }
                .parrafo__index {
                    font-size: 20px;
                }
            }
        }

        .main__index__2 {
            padding-top: 3rem;
    
            .disigns__index {
    
                .image__left__index {
                    display: none;
                }
                .image__center__index {
                    width: 80%;
                    height: 45%;
                }
                .image__right__index {
                    display: none;
                }   
            }
    
            .presentacion__index__2 {
                text-align: center;
                font-size: 20px;
            }
        }
    }

    .paquetes__main {

        .presentacion__paquetes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 0px;
            background-position: -300px;
            padding-top: 0rem;

            .presentacion__paquetes__titulo {
                font-size: 70px;
            }
            .presentacion__paquetes__text {
                font-size: 20px;
                text-align: center;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }

        .paquetes {
            padding-top: 4rem;

            .paquetes__redes {
                display: flex;
                flex-direction: column;
                margin-top: 0px;

                .redes__image__paquetes {
                    width: 100%;
                    height: 100%;
                    padding: 0px;
                    margin-bottom: 3rem;
                }
            }

            .paquetes__logos {
                display: flex;
                flex-direction: column;
                margin-top: 0px;
                flex-flow: column-reverse;

                .paquetes__logos__image {
                    width: 100%;
                    height: 100%;
                    padding: 0px;
                    margin-bottom: 3rem;
                }
            }
        }
    }

    .main__album {

        .presentacion__album {
            padding-top: 1rem;
        }

        .album {
            display: flex;
            flex-direction: column;
            margin-right: 3rem; 
            margin-left: 3rem;
            gap: 5rem;

            .album__1 {
                
                .album__photo {
                    margin: 0px;
                    max-width: 100%;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    padding-top: 3rem;
            
                    .img__album {
                        margin: 0px;
                        width: 100%;
                        height: 50%;
                    }
                }
            }
            
            .album__2 {

                .album__photo {
                    margin: 0px;
                    max-width: 100%;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    padding-top: 3rem;
            
                    .img__album {
                        margin: 0px;
                        width: 100%;
                        height: 50%;
                    }
                }
            }
        }
    }

    .amaru__main {

        .amaru__images {
            width: 100%;
            height: 100%;
            padding: 20px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }

    .clebycleo__main {

        .clebycleo__images {
            width: 100%;
            height: 100%;
            padding: 20px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }

    .hera__main {
        
        .hera__images {
            width: 100%;
            height: 100%;
            padding: 20px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .sala__main {
        
        .sala__images {
            width: 100%;
            height: 100%;
            padding: 20px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .lolita__main {

        .lolita__images {
            width: 100%;
            height: 100%;
            padding: 20px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .maillot__main {
        
        .maillot__images {
            width: 100%;
            height: 100%;
            padding: 20px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .malma__main {
        
        .malma__images {
            width: 100%;
            height: 100%;
            padding: 20px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .mart__main {
        
        .mart__images {
            width: 100%;
            height: 100%;
            padding: 20px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }
    
    .vida__main {
        
        .vida__images {
            width: 100%;
            height: 100%;
            padding: 20px;
            gap: 1rem;
            padding-top: 12rem;
        }
    }

    .PaquetesLogo {

        .basico__paquete {
            display: flex;
            flex-direction: column-reverse;  
            padding-top: 12rem;

            .basico__paquete__galleria {
                max-width: 100%;
            }

            .basico__text__paquete {
                margin: 0px;
                margin-bottom: 3rem;
            }
        }

        .empresarial__paquete {
            display: flex;
            flex-direction: column;
            padding-top: 6rem;

            .empresarial__paquete__galleria {
                max-width: 100%;
            }

            .empresarial__text__paquete {
                margin: 0px;
                margin-bottom: 3rem;
            }
        }

        .intermedio__paquete {
            display: flex;
            flex-direction: column-reverse;
            padding-top: 6rem;

            .intermedio__paquete__galleria {
                max-width: 100%;
            }

            .intermedio__text__paquete {
                margin: 0px;
                margin-bottom: 3rem;
            }
        }

        .premium__paquete {
            display: flex;
            flex-direction: column;
            padding-top: 6rem;

            .premium__paquete__galleria {
                max-width: 100%;
            }
            
            .premium__text__paquete {
                margin: 0px;
                margin-bottom: 3rem;
            }
        }
    }

    .SobreNosotros {

        .presentacion__SobreNosotros {
            padding-top: 0rem;
        }

        .ludesigns__SobreNosotros {
            padding-left: 4rem;
            padding-right: 4rem;
        }

        .lu__SobreNosotros {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 4rem;
            margin-right: 4rem;

            .lu__image__SobreNosotros {
                width: 100%;
                padding: 1rem;
            }

            .lu__text__SobreNosotros {
                text-align: center;
                padding-top: 3rem;
                padding-left: 3rem;
                padding-right: 3rem; 
            }
        }

        .equipo {
            margin-bottom: 6rem;

            .equipo__img {
                width: 100%;
            }
        }
    }

    .contacto {

        .presentacion__contact {
            padding-top: 2rem;
        }

        .content {

            .contact__form {
                width: 75%;

                .contact__form form {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .footer {

        .footer__down {
            flex-direction: column;
            gap: 3rem;
            margin-left: 0rem;
            margin-right: 0rem;
            
            .footer__text {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 424px) {

    .index {

        .main__index__1 {

            .presentacion__index {
                margin-top: 0rem;
                padding-top: 4rem;
                padding-bottom: 3rem;
                margin-top: 0px;
        
                .titulo__index {
                    font-size: 40px;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    margin-left: 0rem;
                    margin-right: 0rem;
                }
                .parrafo__index {
                    font-size: 15px;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    margin-left: 0rem;
                    margin-right: 0rem;
                }
                .paquetes__index {
                    font-size: 22px;
                }
            }
        }

        .main__index__2 {
            padding-top: 3rem;
    
            .disigns__index {
    
                .image__left__index {
                    display: none;
                }
                .image__center__index {
                    width: 80%;
                    height: 45%;
                }
                .image__right__index {
                    display: none;
                }
            }
    
            .presentacion__index__2 {
                text-align: center;
                font-size: 20px;
            }
        }
    }

    .paquetes__main {

        .presentacion__paquetes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 0px;
            background-position: -300px;
            padding-top: 0rem;

            .presentacion__paquetes__titulo {
                font-size: 70px;
            }
            .presentacion__paquetes__text {
                font-size: 20px;
                text-align: center;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }

        .paquetes {
            padding-top: 4rem;

            .paquetes__redes {
                display: flex;
                flex-direction: column;
                margin-top: 0px;

                .redes__image__paquetes {
                    width: 100%;
                    height: 100%;
                    padding: 0px;
                    margin-bottom: 3rem;
                }
            }

            .paquetes__logos {
                display: flex;
                flex-direction: column;
                margin-top: 0px;
                flex-flow: column-reverse;

                .paquetes__logos__image {
                    width: 100%;
                    height: 100%;
                    padding: 0px;
                    margin-bottom: 3rem;
                }
            }
        }
    }


    .main__album {

        .presentacion__album {
            padding-top: 0rem;
        }

        .album {
            display: flex;
            flex-direction: column;
            margin-right: 2rem; 
            margin-left: 2rem;
            gap: 5rem;

            .album__1 {
                
                .album__photo {
                    margin: 0px;
                    max-width: 100%;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    padding-top: 3rem;
            
                    .img__album {
                        margin: 0px;
                        width: 100%;
                        height: 50%;
                    }
                }
            }
            
            .album__2 {

                .album__photo {
                    margin: 0px;
                    max-width: 100%;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    padding-top: 3rem;
            
                    .img__album {
                        margin: 0px;
                        width: 100%;
                        height: 50%;
                    }
                }
            }
        }
    }

    .amaru__main {

        .amaru__images {
            width: 100%;
            height: 100%;
            padding: 10px;
            gap: 1rem;
            padding-top: 8rem;
        }
    }

    .clebycleo__main {

        .clebycleo__images {
            width: 100%;
            height: 100%;
            padding: 10px;
            gap: 1rem;
            padding-top: 8rem;
        }
    }

    .hera__main {
        
        .hera__images {
            width: 100%;
            height: 100%;
            padding: 10px;
            gap: 1rem;
            padding-top: 8rem;
        }
    }
    
    .sala__main {
        
        .sala__images {
            width: 100%;
            height: 100%;
            padding: 10px;
            gap: 1rem;
            padding-top: 8rem;
        }
    }
    
    .lolita__main {

        .lolita__images {
            width: 100%;
            height: 100%;
            padding: 10px;
            gap: 1rem;
            padding-top: 8rem;
        }
    }
    
    .maillot__main {
        
        .maillot__images {
            width: 100%;
            height: 100%;
            padding: 10px;
            gap: 1rem;
            padding-top: 8rem;
        }
    }
    
    .malma__main {
        
        .malma__images {
            width: 100%;
            height: 100%;
            padding: 10px;
            gap: 1rem;
            padding-top: 8rem;
        }
    }
    
    .mart__main {
        
        .mart__images {
            width: 100%;
            height: 100%;
            padding: 10px;
            gap: 1rem;
            padding-top: 8rem;
        }
    }
    
    .vida__main {
        
        .vida__images {
            width: 100%;
            height: 100%;
            padding: 10px;
            gap: 1rem;
            padding-top: 8rem;
        }
    }

    .PaquetesLogo {

        .basico__paquete {
            display: flex;
            flex-direction: column-reverse;  
            padding-top: 9rem;

            .basico__paquete__galleria {
                max-width: 100%;
            }

            .basico__text__paquete {
                margin: 0px;
                margin-bottom: 3rem;
            }
        }

        .empresarial__paquete {
            display: flex;
            flex-direction: column;
            padding-top: 6rem;

            .empresarial__paquete__galleria {
                max-width: 100%;
            }

            .empresarial__text__paquete {
                margin: 0px;
                margin-bottom: 3rem;
            }
        }

        .intermedio__paquete {
            display: flex;
            flex-direction: column-reverse;
            padding-top: 6rem;

            .intermedio__paquete__galleria {
                max-width: 100%;
            }

            .intermedio__text__paquete {
                margin: 0px;
                margin-bottom: 3rem;
            }
        }

        .premium__paquete {
            display: flex;
            flex-direction: column;
            padding-top: 6rem;

            .premium__paquete__galleria {
                max-width: 100%;
            }
            
            .premium__text__paquete {
                margin: 0px;
                margin-bottom: 3rem;
            }
        }
    }
    
    .SobreNosotros {

        .presentacion__SobreNosotros {
            padding-top: 0rem;
        }

        .presentacion__SobreNosotros {

            .presentacion__titulo__SobreNosotros {
                font-size: 75px;
            }
        }

        .ludesigns__SobreNosotros {
            padding-left: 4rem;
            padding-right: 4rem;
        }

        .lu__SobreNosotros {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 2rem;
            margin-right: 2rem;

            .lu__image__SobreNosotros {
                width: 100%;
                padding: 1rem;
            }

            .lu__text__SobreNosotros {
                text-align: center;
                padding-top: 1rem;
                padding-left: 1rem;
                padding-right: 1rem; 
            }
        }

        .equipo {
            margin-bottom: 6rem;

            .equipo__img {
                width: 100%;
            }
        }
    } 

    .contacto {

        .presentacion__contact {
            padding-top: 2rem;

            .presentacion__titulo__contact {
                font-size: 60px;
            }

            .presentacion__text__contact {
                font-size: 22px;
            }
        }

        .content {

            .contact__form {
                width: 80%;

                .contact__form form {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .footer {

        .footer__down {
            flex-direction: column;
            gap: 3rem;
            margin-left: 0rem;
            margin-right: 0rem;
            
            .footer__text {
                text-align: center;
            }
        }
    }
}