.presentacion__SobreNosotros {
    @extend .Presentacion;
    background-image: url(../images/portada_6.png);
    padding-top: 12rem;
    

    .presentacion__titulo__SobreNosotros {
        font-family: 'Lora', serif;
        font-size: 80px;
        color: white;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: $bgtext;
    }
}

.ludesigns__SobreNosotros {
    padding-top: 7rem;
    padding-bottom: 7rem;
    text-align: center;
    padding-left: 20rem;
    padding-right: 20rem; 
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
}

.lu__SobreNosotros {
    display: flex;
    background-color: #ff78767f;
    margin-bottom: 10rem;
    margin-left: 8rem;
    margin-right: 8rem;

    .lu__image__SobreNosotros {
        padding: 3rem;
        width: 600px;
    }

    .lu__text__SobreNosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 3rem;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 20px;

        .lu__inicio__SobreNosotros {
            font-size: 27px;
        }
    }
}

.equipo {
    background-color: #ffc6b5aa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .equipo__img {
        padding-top: 3rem;
        width: 900px;
    }

    .equipo__text {
        text-align: center;
        font-family: 'Red Hat Display', sans-serif;
        padding: 3rem;
        font-size: 20px;
    }
}