@import './variables';

@import './media__queries';

@import './index';

@import './footer';

@import './paquetes';

@import './paquetes__logo';

@import './album';

@import './amaru';

@import './cle__by__cleo';

@import './hera';

@import './la__sala';

@import './lolita';

@import './maillot';

@import './malma';

@import './marthina__collection';

@import './vida__salud';

@import './sobre__nosotros';

@import './contacto';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    display: inline-flex;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 60px;
    background-color: $bgbutton;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    transition: .3s ease all;
}

.nav__link {
    color: black;
    text-decoration: none;
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    transition: .2s ease-in-out;
}
.nav__link:hover {
    color: white;
}

header {
    min-height: 100px;
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: white; 
    z-index: 10;   
}

li {
    list-style: none;
}