@import './index';
@import './footer';
@import './paquetes';
@import './paquetes__logo';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    display: inline-flex;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 60px;
    background-color: #ff78769a;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    transition: .3s ease all;
}
.nav__link {
    color: black;
    text-decoration: none;
    font-family: 'Sarabun', sans-serif;
    font-size: 15px;
    transition: .2s ease-in-out;
}
.nav__link:hover {
    color: white;
}
.header {
    min-height: 100px;
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: white; 
    z-index: 10;   
}
li {
    list-style: none;
}


/*Main album*/
.presentacion__album {
    width: 100%;
    min-height: 725px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/portada_7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5rem;
}
.presentacion__titulo__album {
    font-family: 'Metal', cursive;
    font-size: 80px;
    color: white;
}
.presentacion__text__album {
    font-family: 'Metal', cursive;
    font-size: 27px;
    color: white;
    text-align: center;
}
.img__album {
    border-radius: 10px;
    width: 500px;
    height: 500px;
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.album__photo {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
    justify-content: center;  
    background-color: #ff90403d;
    border-radius: 10px;
    transition: .5s ease-in-out all;
}
.album__photo:hover {
    background-color: #ff904082;
    transform: scale(1.05);
}
.album__photo__text {
    font-family: 'BIZ UDPMincho', serif;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.61);
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.album {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7rem;
}

.album__1 {
    gap: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.album__2 {
    gap: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Main amaru*/

.amaru__main {
    display: flex;
    justify-content: center;
}
.amaru__images {
    display: grid;
    padding-top: 15rem;
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 80%;
    min-height: 100px;

    grid-template-columns: repeat(3, fr);
    grid-template-rows: repeat(7, fr);

    grid-template-areas:
        "amarul amarul amarul"
        "amarul amarul amarul"
        "amarul amarul amarul"
        "amaru1 amaru1 amaru2"
        "amaru1 amaru1 amaru3"
        "amaru4 amaru5 amaru5"
        "amaru6 amaru5 amaru5"; 

    gap: 4rem;
}

.amaru__imagen {
    width: 100%;
    height: 100%;
}
.amaru__logo {
    grid-area: amarul;   
}
.amaru__1 {
    grid-area: amaru1;
}
.amaru__2 {
    grid-area: amaru2;
}
.amaru__3 {
    grid-area: amaru3;
}
.amaru__4 {
    grid-area: amaru4;
}
.amaru__5 {
    grid-area: amaru5;
}
.amaru__6 {
    grid-area: amaru6;
}

/*Main cle by cleo*/

.clebycleo__main {
    display: flex;
    justify-content: center;
}
.clebycleo__images {
    display: grid;
    padding-top: 15rem;
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 80%;
    min-height: 100px;

    grid-template-columns: repeat(3, fr);
    grid-template-rows: repeat(7, fr);

    grid-template-areas:
        "clel clel clel"
        "clel clel clel"
        "clel clel clel"
        "cle1 cle1 cle2"
        "cle1 cle1 cle3"
        "cle4 cle5 cle5"
        "cle6 cle5 cle5"; 

    gap: 4rem;
}

.clebycleo__imagen {
    width: 100%;
    height: 100%;
}
.clebycleo__logo {
    grid-area: clel;   
}
.clebycleo__1 {
    grid-area: cle1;
}
.clebycleo__2 {
    grid-area: cle2;
}
.clebycleo__3 {
    grid-area: cle3;
}
.clebycleo__4 {
    grid-area: cle4;
}
.clebycleo__5 {
    grid-area: cle5;
}
.clebycleo__6 {
    grid-area: cle6;
}

/*Main hera*/

.hera__main {
    display: flex;
    justify-content: center;
}
.hera__images {
    display: grid;
    padding-top: 15rem;
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 80%;
    min-height: 100px;

    grid-template-columns: repeat(2, fr);
    grid-template-rows: repeat(4, fr);

    grid-template-areas:
        "heral heral"
        "heral heral"
        "hera1 hera2"
        "hera3 hera4";  

    gap: 4rem;
}

.hera__imagen {
    width: 100%;
    height: 100%;
}
.hera__logo {
    grid-area: heral;   
}
.hera__1 {
    grid-area: hera1;
}
.hera__2 {
    grid-area: hera2;
}
.hera__3 {
    grid-area: hera3;
}
.hera__4 {
    grid-area: hera4;
}

/*Main la sala*/

.sala__main {
    display: flex;
    justify-content: center;
}
.sala__images {
    display: grid;
    padding-top: 15rem;
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 80%;
    min-height: 100px;

    grid-template-columns: repeat(3, fr);
    grid-template-rows: repeat(7, fr);

    grid-template-areas:
        "salal salal salal"
        "salal salal salal"
        "salal salal salal"
        "sala1 sala1 sala2"
        "sala1 sala1 sala3"
        "sala4 sala5 sala5"
        "sala6 sala5 sala5"; 

    gap: 4rem;
}

.sala__imagen {
    width: 100%;
    height: 100%;
}
.sala__logo {
    grid-area: salal;   
}
.sala__1 {
    grid-area: sala1;
}
.sala__2 {
    grid-area: sala2;
}
.sala__3 {
    grid-area: sala3;
}
.sala__4 {
    grid-area: sala4;
}
.sala__5 {
    grid-area: sala5;
}
.sala__6 {
    grid-area: sala6;
}

/*Main lolita*/

.lolita__main {
    display: flex;
    justify-content: center;
}
.lolita__images {
    display: grid;
    padding-top: 15rem;
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 80%;
    min-height: 100px;

    grid-template-columns: repeat(3, fr);
    grid-template-rows: repeat(7, fr);

    grid-template-areas:
        "lolital lolital lolital"
        "lolital lolital lolital"
        "lolital lolital lolital"
        "lolita1 lolita1 lolita2"
        "lolita1 lolita1 lolita3"
        "lolita4 lolita5 lolita5"
        "lolita6 lolita5 lolita5"; 

    gap: 4rem;
}

.lolita__imagen {
    width: 100%;
    height: 100%;
}
.lolita__logo {
    grid-area: lolital;   
}
.lolita__1 {
    grid-area: lolita1;
}
.lolita__2 {
    grid-area: lolita2;
}
.lolita__3 {
    grid-area: lolita3;
}
.lolita__4 {
    grid-area: lolita4;
}
.lolita__5 {
    grid-area: lolita5;
}
.lolita__6 {
    grid-area: lolita6;
}

/*Main maillot*/

.maillot__main {
    display: flex;
    justify-content: center;
}
.maillot__images {
    display: grid;
    padding-top: 15rem;
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 80%;
    min-height: 100px;

    grid-template-columns: repeat(3, fr);
    grid-template-rows: repeat(7, fr);

    grid-template-areas:
        "maillotl maillotl maillotl"
        "maillotl maillotl maillotl"
        "maillotl maillotl maillotl"
        "maillot1 maillot1 maillot2"
        "maillot1 maillot1 maillot3"
        "maillot4 maillot5 maillot5"
        "maillot6 maillot5 maillot5"; 

    gap: 4rem;
}

.maillot__imagen {
    width: 100%;
    height: 100%;
}
.maillot__logo {
    grid-area: maillotl;   
}
.maillot__1 {
    grid-area: maillot1;
}
.maillot__2 {
    grid-area: maillot2;
}
.maillot__3 {
    grid-area: maillot3;
}
.maillot__4 {
    grid-area: maillot4;
}
.maillot__5 {
    grid-area: maillot5;
}
.maillot__6 {
    grid-area: maillot6;
}

/*Main malma*/

.malma__main {
    display: flex;
    justify-content: center;
}
.malma__images {
    display: grid;
    padding-top: 15rem;
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 80%;
    min-height: 100px;

    grid-template-columns: repeat(3, fr);
    grid-template-rows: repeat(7, fr);

    grid-template-areas:
        "malmal malmal malmal"
        "malmal malmal malmal"
        "malmal malmal malmal"
        "malma1 malma1 malma2"
        "malma1 malma1 malma3"
        "malma4 malma5 malma5"
        "malma6 malma5 malma5"; 

    gap: 4rem;
}

.malma__imagen {
    width: 100%;
    height: 100%;
}
.malma__logo {
    grid-area: malmal;   
}
.malma__1 {
    grid-area: malma1;
}
.malma__2 {
    grid-area: malma2;
}
.malma__3 {
    grid-area: malma3;
}
.malma__4 {
    grid-area: malma4;
}
.malma__5 {
    grid-area: malma5;
}
.malma__6 {
    grid-area: malma6;
}

/*Main marthina collection*/

.mart__main {
    display: flex;
    justify-content: center;
}
.mart__images {
    display: grid;
    padding-top: 15rem;
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 80%;
    min-height: 100px;

    grid-template-columns: repeat(2, fr);
    grid-template-rows: repeat(4, fr);

    grid-template-areas:
        "martl martl"
        "martl martl"
        "mart1 mart2"
        "mart3 mart4";  

    gap: 4rem;
}

.mart__imagen {
    width: 100%;
    height: 100%;
}
.mart__logo {
    grid-area: martl;   
}
.mart__1 {
    grid-area: mart1;
}
.mart__2 {
    grid-area: mart2;
}
.mart__3 {
    grid-area: mart3;
}
.marta__4 {
    grid-area: mart4;
}

/*Main vida salud*/

.vida__main {
    display: flex;
    justify-content: center;
}
.vida__images {
    display: grid;
    padding-top: 15rem;
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 80%;
    min-height: 100px;

    grid-template-columns: repeat(3, fr);
    grid-template-rows: repeat(7, fr);

    grid-template-areas:
        "vidal vidal vidal"
        "vidal vidal vidal"
        "vidal vidal vidal"
        "vida1 vida1 vida2"
        "vida1 vida1 vida3"
        "vida4 vida5 vida5"
        "vida6 vida5 vida5"; 

    gap: 4rem;
}

.vida__imagen {
    width: 100%;
    height: 100%;
}
.vida__logo {
    grid-area: vidal;   
}
.vida__1 {
    grid-area: vida1;
}
.vida__2 {
    grid-area: vida2;
}
.vida__3 {
    grid-area: vida3;
}
.vida__4 {
    grid-area: vida4;
}
.vida__5 {
    grid-area: vida5;
}
.vida__6 {
    grid-area: vida6;
}

/*Main sobre nosotros*/
.presentacion__SobreNosotros {
    width: 100%;
    height: 725px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/portada_6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5rem;
}
.presentacion__titulo__SobreNosotros {
    font-family: 'Metal', cursive;
    font-size: 80px;
    color: white;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.ludesigns__SobreNosotros {
    padding-top: 7rem;
    padding-bottom: 7rem;
    text-align: center;
    padding-left: 20rem;
    padding-right: 20rem; 
    font-family: 'Red Hat Display', sans-serif;
    font-size: larger;
}
.lu__SobreNosotros {
    display: flex;
    background-color: #ff78767f;
    margin-bottom: 10rem;
    margin-left: 8rem;
    margin-right: 8rem;
}
.lu__text__SobreNosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
}
.lu__inicio__SobreNosotros {
    font-size: larger;
}
.lu__image__SobreNosotros {
    padding: 3rem;
    width: 600px;
}
.equipo {
    background-color: #ffc6b5aa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.equipo__img {
    padding-top: 3rem;
    width: 900px;
}
.equipo__text {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    padding: 3rem;
    font-size: 18px;
}

/*Main contacto*/
.presentacion__contacto {
    width: 100%;
    height: 725px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/portada_5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5rem;
}
.presentacion__titulo__contacto {
    font-family: 'Metal', cursive;
    font-size: 80px;
    color: white;
}
.presentacion__text__contacto {
    font-family: 'Metal', cursive;
    font-size: 24px;
    color: white;
}
.formulario__contacto {
    padding: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 1rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-image: url(../images/portada_9.jpg);
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
}
.controls__contacto {
    width: 400px;
    height: 30px;
    margin-bottom: 1rem;
}
.sexo__contacto {
    display: flex;
    gap: 275px;
    padding-bottom: 1rem;
}
.button__contacto__container {
    display: flex;
    gap: 100px;
}
.button__contacto {
    text-transform: uppercase;
    width: 150px;
    height: 60px;
}
.button__contacto span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
    font-size: 20px;
}
.button__contacto::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 1;
    transition: .3s ease-in-out all;
    transform-origin: center;
    border-radius: 100px;
}
.button__contacto:hover::after {
    transform: scale(20);
    background-color: #ff7876;
}
.button__contacto__limpiar {
    text-transform: uppercase;
    background: none;
    border: none;
    width: 150px;
    height: 60px;
    background-color: #ff78769a;
}
.button__contacto__limpiar span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
    font-size: 20px;
}
.button__contacto__limpiar::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 1;
    transition: .3s ease-in-out all;
    transform-origin: center;
    border-radius: 100px;
}
.button__contacto__limpiar:hover::after {
    transform: scale(40);
    background-color: #ff7876;
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {

    .disigns__index {
        transform: scale(0.75);
    }
    .main__index__2 {
        padding-top: 40px;
    }
    .presentacion__index__2 {
        margin-top: 0px;
    }
    .redes__image__paquetes {
        transform: scale(0.73);
    }
    .paquetes__logos__image {
        transform: scale(0.73);
    }
    .album__photo {
        margin: 0px;
        max-width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3rem;
    }
    .album {
        column-gap: 2rem; 
        margin-right: 2rem; 
        margin-left: 2rem;
    }
    .img__album {
        margin: 0px;
        width: 100%;
        height: 50%;
    }
    .amaru__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .clebycleo__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .hera__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .sala__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .lolita__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .maillot__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .malma__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .mart__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .vida__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }

    .ludesigns__SobreNosotros {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .lu__SobreNosotros {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .lu__text__SobreNosotros {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .lu__image__SobreNosotros {
        padding-right: 0px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .disigns__index {
        max-width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .main__index__2 {
        padding-top: 100px;
    }
    .image__left__index {
        width: 30%;
        height: 12.5%;
        margin-right: 20px;
    }
    .image__center__index {
        width: 40%;
        height: 20%;
    }
    .image__right__index {
        width: 30%;
        height: 12.5%;
        margin-left: 20px;
    }
    .presentacion__index__2 {
        padding-bottom: 1rem;
    }
    .paquetes {
        padding-bottom: 4rem;
    }
    .presentacion__paquetes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
        background-position: center;
    }
    .presentacion__paquetes__titulo {
        font-size: 70px;
    }
    .presentacion__paquetes__text {
        font-size: 20px;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .paquetes__redes {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .redes__image__paquetes {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin-bottom: 3rem;
    }
    .paquetes__logos {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        flex-flow: column-reverse;
    }
    .paquetes__logos__image {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin-bottom: 3rem;
    }
    .album__photo {
        margin: 0px;
        max-width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3rem;
    }
    .album {
        column-gap: 2rem; 
        margin-right: 2rem; 
        margin-left: 2rem;
    }
    .img__album {
        margin: 0px;
        width: 100%;
        height: 50%;
    }
    .amaru__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .clebycleo__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .hera__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .sala__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .lolita__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .maillot__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .malma__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .mart__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .vida__images {
        width: 100%;
        height: 100%;
        padding: 50px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .basico__paquete__galleria {
        width: 100%;
        height: 100%;
    }
    .basico__text__paquete {
        margin-left: 20px;
    }
    .empresarial__text__paquete {
        margin-right: 20px;
    }
    .intermedio__text__paquete {
        margin-left: 20px;
    }
    .premium__text__paquete {
        margin-right: 20px;
    }

    .ludesigns__SobreNosotros {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .lu__SobreNosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .lu__text__SobreNosotros {
        text-align: center;
        padding-top: 0rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .equipo__img {
        padding: 2rem;
        max-width: 750px;
    }
    .equipo__text {
        padding-top: 0rem;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {

    .presentacion__index {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        background-position: center;
        padding-bottom: 7rem;
    }
    .titulo__index {
        width: 80%;
        font-size: 35px;
        padding-left: 1rem;
    }
    .parrafo__index {
        width: 80%;
        font-size: 20px;
        padding-left: 1rem;
    }
    .main__index__2 {
        padding-top: 3rem;
    }
    .image__left__index {
        display: none;
    }
    .image__right__index {
        display: none;
    }
    .image__center__index {
        width: 80%;
        height: 45%;
    }
    .presentacion__index__2 {
        text-align: center;
        font-size: 20px;
    }
    .footer {
        margin-top: 2rem;
    }
    .footer__logo {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .footer__down {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .footer__redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .paquetes {
        padding-bottom: 4rem;
    }
    .presentacion__paquetes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
        background-position: -300px;
    }
    .presentacion__paquetes__titulo {
        font-size: 70px;
    }
    .presentacion__paquetes__text {
        font-size: 20px;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .paquetes__redes {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .redes__image__paquetes {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin-bottom: 3rem;
    }
    .paquetes__logos {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        flex-flow: column-reverse;
    }
    .paquetes__logos__image {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin-bottom: 3rem;
    }
    .album {
        display: flex;
        flex-direction: column;
        margin-right: 3rem; 
        margin-left: 3rem;
        gap: 5rem;
    }
    .album__photo {
        margin: 0px;
        max-width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3rem;
    }
    .img__album {
        margin: 0px;
        width: 100%;
        height: 50%;
    }
    .amaru__images {
        width: 100%;
        height: 100%;
        padding: 20px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .clebycleo__images {
        width: 100%;
        height: 100%;
        padding: 20px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .hera__images {
        width: 100%;
        height: 100%;
        padding: 20px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .sala__images {
        width: 100%;
        height: 100%;
        padding: 20px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .lolita__images {
        width: 100%;
        height: 100%;
        padding: 20px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .maillot__images {
        width: 100%;
        height: 100%;
        padding: 20px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .malma__images {
        width: 100%;
        height: 100%;
        padding: 20px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .mart__images {
        width: 100%;
        height: 100%;
        padding: 20px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .vida__images {
        width: 100%;
        height: 100%;
        padding: 20px;
        gap: 1rem;
        padding-top: 12rem;
    }
    .basico__paquete {
        display: flex;
        flex-direction: column-reverse;  
        padding-top: 9rem;    
    }
    .empresarial__paquete {
        display: flex;
        flex-direction: column;
        padding-top: 6rem;
    }
    .intermedio__paquete {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 6rem;
    }
    .premium__paquete {
        display: flex;
        flex-direction: column;
        padding-top: 6rem;
    }
    .basico__text__paquete {
        margin: 0px;
        margin-bottom: 3rem;
    }
    .empresarial__text__paquete {
        margin: 0px;
        margin-bottom: 3rem;
    }
    .intermedio__text__paquete {
        margin: 0px;
        margin-bottom: 3rem;
    }
    .premium__text__paquete {
        margin: 0px;
        margin-bottom: 3rem;
    }
    .basico__paquete__galleria {
        max-width: 100%;
    }
    .empresarial__paquete__galleria {
        max-width: 100%;
    }
    .intermedio__paquete__galleria {
        max-width: 100%;
    }
    .premium__paquete__galleria {
        max-width: 100%;
    }
    .ludesigns__SobreNosotros {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .ludesigns__SobreNosotros {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .lu__SobreNosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .lu__text__SobreNosotros {
        text-align: center;
        padding-top: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .lu__image__SobreNosotros {
        width: 100%;
        padding: 1rem;
    }
    .equipo {
        margin-bottom: 6rem;
    }
    .equipo__img {
        width: 100%;
    }
}

@media screen and (max-width: 424px) {

    .presentacion__index {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        background-position: center;
        padding-bottom: 7rem;
    }
    .titulo__index {
        width: 80%;
        font-size: 35px;
        padding-left: 1rem;
    }
    .parrafo__index {
        width: 80%;
        font-size: 20px;
        padding-left: 1rem;
    }
    .main__index__2 {
        padding-top: 3rem;
    }
    .image__left__index {
        display: none;
    }
    .image__right__index {
        display: none;
    }
    .image__center__index {
        width: 80%;
        height: 45%;
    }
    .presentacion__index__2 {
        text-align: center;
        font-size: 20px;
    }

    .footer {
        margin-top: 2rem;
    }
    .footer__logo {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .footer__down {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .footer__redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .paquetes {
        padding-bottom: 4rem;
    }
    .presentacion__paquetes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
        background-position: -300px;
    }
    .presentacion__paquetes__titulo {
        font-size: 70px;
    }
    .presentacion__paquetes__text {
        font-size: 20px;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .paquetes__redes {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .redes__image__paquetes {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin-bottom: 3rem;
    }
    .paquetes__logos {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        flex-flow: column-reverse;
    }
    .paquetes__logos__image {
        width: 100%;
        height: 100%;
        padding: 0px;
        margin-bottom: 3rem;
    }
    .album {
        display: flex;
        flex-direction: column;
        margin-right: 2rem; 
        margin-left: 2rem;
        gap: 5rem;
    }
    .album__photo {
        margin: 0px;
        max-width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3rem;
    }
    .img__album {
        margin: 0px;
        width: 100%;
        height: 50%;
    }
    .amaru__images {
        width: 100%;
        height: 100%;
        padding: 10px;
        gap: 1rem;
        padding-top: 8rem;
    }
    .clebycleo__images {
        width: 100%;
        height: 100%;
        padding: 10px;
        gap: 1rem;
        padding-top: 8rem;
    }
    .hera__images {
        width: 100%;
        height: 100%;
        padding: 10px;
        gap: 1rem;
        padding-top: 8rem;
    }
    .sala__images {
        width: 100%;
        height: 100%;
        padding: 10px;
        gap: 1rem;
        padding-top: 8rem;
    }
    .lolita__images {
        width: 100%;
        height: 100%;
        padding: 10px;
        gap: 1rem;
        padding-top: 8rem;
    }
    .maillot__images {
        width: 100%;
        height: 100%;
        padding: 10px;
        gap: 1rem;
        padding-top: 8rem;
    }
    .malma__images {
        width: 100%;
        height: 100%;
        padding: 10px;
        gap: 1rem;
        padding-top: 8rem;
    }
    .mart__images {
        width: 100%;
        height: 100%;
        padding: 10px;
        gap: 1rem;
        padding-top: 8rem;
    }
    .vida__images {
        width: 100%;
        height: 100%;
        padding: 10px;
        gap: 1rem;
        padding-top: 8rem;
    }
    .basico__paquete {
        display: flex;
        flex-direction: column-reverse;  
        padding-top: 9rem;    
    }
    .empresarial__paquete {
        display: flex;
        flex-direction: column;
        padding-top: 6rem;
    }
    .intermedio__paquete {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 6rem;
    }
    .premium__paquete {
        display: flex;
        flex-direction: column;
        padding-top: 6rem;
    }
    .basico__text__paquete {
        margin: 0px;
        margin-bottom: 3rem;
    }
    .empresarial__text__paquete {
        margin: 0px;
        margin-bottom: 3rem;
    }
    .intermedio__text__paquete {
        margin: 0px;
        margin-bottom: 3rem;
    }
    .premium__text__paquete {
        margin: 0px;
        margin-bottom: 3rem;
    }
    .basico__paquete__galleria {
        max-width: 100%;
    }
    .empresarial__paquete__galleria {
        max-width: 100%;
    }
    .intermedio__paquete__galleria {
        max-width: 100%;
    }
    .premium__paquete__galleria {
        max-width: 100%;
    }
    .presentacion__titulo__SobreNosotros {
        font-size: 70px;
    }
    .ludesigns__SobreNosotros {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .ludesigns__SobreNosotros {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .lu__SobreNosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 4rem;
        margin-right: 4rem;
    }
    .lu__text__SobreNosotros {
        text-align: center;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .lu__image__SobreNosotros {
        width: 100%;
        padding: 1rem;
    }
    .equipo {
        margin-bottom: 6rem;
    }
    .equipo__img {
        width: 100%;
    }
}